[submodule "lib/Cursive"]
	path = lib/Cursive
	url = https://github.com/gyscos/Cursive
[submodule "lib/rust-json-file-store"]
	path = lib/rust-json-file-store
	url = https://github.com/cosier/rust-json-file-store
